
/* Main-Content */
.main_content{
    padding-left: 250px;
    width: 100%;
}

/* main-content-area */
#upper_main{
    background: rgba(165, 166, 167, 0)
}

/* overriding the native row bootstrap */

.row{
    margin: 0px 0px;
}

/* button-styling */
.btn-toggle{
    padding: 7px 10px;
    background: transparent;
    color:white;
    border: none;
    cursor: pointer;
}

.location{
    font-size: 12px;
    font-weight: 400;
}

.topnav-icon{
    font-size: 24px;
    padding-top: 7px;
    padding-right: 5px;
    float: right;
    cursor: pointer;
    color:white;
}

.topnav-icon:first-child{
    padding-right: 15px;
}

/* user settings and messaging container style */

.msg-container{
    display: block !important;
    width:250px;
    height: 180px;
    background: white;
    position: absolute;
    border: 1px solid black;
    transform: translate(-50%,-50%);
    left: 80%;
    top: 423%;
    border-radius: 5px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.settings-container{
    display: block !important;
    width: 130px;
    height: 160px;
    background: white;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    left: 90%;
    top: 390%;
    border-radius: 5px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
}


.show_container_settings, .show_container_msg{
    display: none;
}


/* messaging and account settings styling */

.list-style-standard{
    list-style: none;
    text-align: center;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-items-chat-color{
    background: blanchedalmond;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-items-chat{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.usernametxt{
    font-size: 12px;
}

.msgtxt{
    text-align: center;
}

.account{
    padding: 10px 10px;
}
.profile{
    padding: 10px 10px;
}

.mini-icon-style{
    font-size: 15px;
    float: left;
    padding-top: 2px;
    padding-left: 0px;
}

#image_profile-user{
    padding: 0px;
    float: left;
    border-radius: 50%;
}

.list-profile-class{
    cursor: pointer;
}

.list-profile-class:hover{
    background: #000000;
    color:white;
}

/* container in main content */

#social-media-cont_1{
    background: navy;
    color:white;
    padding: 10px;
}
#social-media-cont_2{
    background: green;
    color:white;
    padding: 10px;
}
#social-media-cont_3{
    background: orangered;
    color:white;
    padding: 10px;
}
#social-media-cont_4{
    background: orchid;
    color:white;
    padding: 10px;
}

/* social media icon color */
.icon-color{
    color:white;
}

#image-panel{
    padding-top: 10px;
    padding-left: 20px;
}

.title{
padding-right: 25px;
}

.table tr{
    cursor: pointer;
}.table tr:hover{
    background-color: lightblue;
}

.scroll-view{
    max-height: 277px;
    overflow-y: scroll;
    width: 100%;
}

.add-txt{
    margin-bottom: 10px;
}


/* media queries */

@media screen and (max-width:799px){

    .settings-container{
        left: 70%;
    }
    
    .msg-container{
        left:50%;
    }

}