
/* Main-Content */
.main_content{
    width: 100%;
    padding: 10px;
}


/* main-content-area */
#upper_main{
    background: rgba(165, 166, 167, 0)
}

/* button-styling */
.btn-toggle{
    padding: 9px 10px;
    background: transparent;
    color:white;
    border: 1px solid white;
    cursor: pointer;
}